@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Name"]</h3>
<h3>@ViewData["Email"]</h3>


<address>
    Av. Afonso Pena, 3123<br />
    Campo Grande, MS 79002-072<br />
    <abbr title="Phone"></abbr>
    (67) 3320-3418
</address>

<address>
    <strong>Support:</strong> <a href="mailto:wduarte@sesims.com.br">wduarte@sesims.com.br</a><br />
    <strong>Marketing:</strong> <a href="mailto:centrodeinovacao@sesims.com.br">centrodeinovacao@sesims.com.br</a>
</address>
